._*
.buildpath
.DS_Store
.htpasswd
.idea
.project
.settings
.vagrant
.~lock.*
composer.phar
nbproject
phpunit.xml
Thumbs.db

bin/
build/vagrant.yaml
build/bower_components/
build/cache/
build/logs/
vendor/

# Zend Framework 2
config/autoload/local.php
config/autoload/*.local.php

# Symfony 2
app/bootstrap.php.cache
app/phpunit.xml
app/cache/*
!app/cache/.gitkeep
app/config/parameters.yml
app/config/parameters.ini
app/logs/*
!app/logs/.gitkeep
app/Resources/views/header-custom.html.twig
app/Resources/views/footer-custom.html.twig
app/Resources/views/javascript-custom.html.twig
!bin/console
!bin/symfony_requirements

/*/bundles/
/*/assets/

# Symfony 3
var/cache/*
!var/cache/.gitkeep
var/bootstrap.php.cache
var/logs/*
!var/logs/.gitkeep
